.webapp__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.webapp__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin: 5rem;
}

.webapp__features-heading h1 {
    font-family: var(--font-family);
    font-weight: 800px;
    font-size: 34px;
    line-height: 45px;
}

.webapp__features-heading p {
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-top: 2rem;
}

.webapp__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .webapp__features{
       flex-direction: column; 
    }
    
    .webapp__features-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .webapp__features-heading h1 {
       font-size: 28px;
       line-height: 38px;
    }
}