.webapp__PWL {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.webapp__PWL h2 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: var(--font-family);
  color: var(--color-text);
}


.webapp__PWL-Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    max-height: 350px;
    overflow-y: auto;
  }
  .webapp__PWL-Container::-webkit-scrollbar {
    width: 2px; 
  }
  
  .webapp__PWL-Container::-webkit-scrollbar-thumb {
    background-color: var(--gradient-bar); 
    border-radius: 6px; 
  }
  
  .webapp__PWL-Container::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  .webapp__PWL-Item {
    padding: 15px;
    border-radius: 5px;
    
  }
  
  .webapp__PWL-Item a {
    text-decoration: none;
    color: var(--color-text);
  }
  
  .webapp__PWL-Item h3 {
    margin-bottom: 10px;
    color: var(--color-golden); 
  }
  
  .webapp__PWL-Item p {
    margin: 0;
    line-height: 30px;
  }
  