.webapp__proposalForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-footer);
}

.webapp__proposalForm-title {
    flex: 1;
    text-align: center;
    margin: 2rem;
    color: var(--color-text);
}

.webapp__proposalForm-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.webapp__proposalForm-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.webapp__proposalForm-form_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* INPUTFORM */
.inputForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; 
    margin:0; 
}

.inputForm_label {
    width: 250px;
    min-height: 20px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: 2px solid var(--color-footer);
    padding: 0.5rem;
    outline: none;
    color: var(--color-text);
    border-radius: 5px;
    background: transparent;
    margin: 0.5rem 0;
}
input, textarea {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.webapp__proposalForm-btn {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.webapp__proposalForm-btn button {
    width: 250px; 
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
}
