.webapp__proposalForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-footer);
}

.webapp__proposalForm-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 1.7px;
    text-shadow: 1px 1px 2px var(--color-gray) ;
}

.webapp__proposalForm-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1rem;

}
.webapp__proposalForm-form_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* INPUTFORM */
.inputForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; 
    margin:0; 
}

.inputForm_label {
    width: 200px;
    min-height: 20px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: 2px solid var(--color-footer);
    padding: 0.5rem;
    outline: none;
    color: var(--color-text);
    border-radius: 5px;
    background: transparent;
    margin: 0.5rem 0;
    text-shadow: 1px 1px 2px var(--color-gray) ;
}
input, textarea {
    box-sizing: border-box;
    height: 20px;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: 14px;

}
textarea {
    height: 60px;
}
/* Style the file input */
input[type="file"] {
    color: var(--color-text);
    background: var(--color-gray);
    padding: 10px;
    height: 45px;
    border-radius: 5px;
    width: 220px;
}
  
input[type="file"]:hover {
    cursor: pointer;
    border: 2px solid var(--color-golden)
}
.webapp__proposalForm-form,
.webapp__proposalForm-btn {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.webapp__proposalForm-btn button {
    width: 250px; 
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
}
