.webapp__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.webapp__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.webapp__navbar-links-logo {
    margin-right: 2rem;
}

.webapp__navbar-links-logo img{
    width: 9rem;
    height: auto;
    border-radius:  5%;
}

.webapp__navbar-links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;  
}

.webapp__navbar-links_container p:hover {
    color: var(--color-golden)      
}

.webapp__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.webapp__navbar-links_container p,
.webapp__navbar-sign p,
.webapp__navbar-menu_container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500 ;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.webapp__navbar-menu_container p:hover {
    color: var(--color-golden);
}

.webapp__navbar-sign button,
.webapp__navbar-menu_container button {
    background-color: var(--color-golden);
    color: var(--color-text);
    font-weight: 500;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.webapp__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.webapp__navbar-menu svg {
    cursor: pointer;
}

.webapp__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgb(0,0,0,0.2);
}

.webapp__navbar-menu_container p {
    margin: 1rem 0;
}

.webapp__navbar-menu_container-links-sign {
    display: none;
}

/* SubMenu */

.subMenu__hide {
    opacity: 0;
    display: none;
    position: absolute;
    padding: 0.5rem;
    z-index: 99;
    background: var(--color-footer);
    border-radius: 5px;
    transition: 0.3s ease, visibility 0.3s ease
}

.display__SubMenu:hover .subMenu__hide,
.subMenu__hide:hover  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    visibility: visible;
    margin-top: -1px;
}

.display__SubMenu {
    position: relative;
}
  
.display__SubMenu:hover .subMenu__hide {
    display: block;
}

.subMenu__hide-item p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
    
}

.subMenu__hide-item p:hover {
    color: var(--color-golden);
}

@media screen and (max-width: 1050px) {
    .webapp__navbar-links_container {
        display: none ;
    }
    
    .webapp__navbar-menu {
        display: flex;
    }

    .display__SubMenu:hover {
        margin-top: -18px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 700px) {
    .webapp__navbar {
       margin: 2rem 4rem;
    }
    
    .webapp__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .webapp__navbar {
       padding: 2rem ;
    }
    
    .webapp__navbar-sign {
        display: none;
    }
    
    .webapp__navbar-menu_container {
        top: 20px;
    }

    .webapp__navbar-menu_container-links-sign {
        display: block;
    }
}

