

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    
    background-image: linear-gradient(
      to top, #d3b003, #383e3e,  #000);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  /* using https://angrytools.com/gradient/ */
  .gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 49% -100%, #000 85%, #383e3e 85%, #000 100%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 49% -100%, #000 85%, #383e3e 85%, #000 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 49% -100%, #000 85%, #383e3e 85%, #000 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 49% -100%, #000 85%, #383e3e 85%, #000 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 49% -100%, #000 85%, #383e3e 85%, #000 100%);
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
        -webkit-background-clop: text ;
        -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem ;
  }
  
  .section__margin {
    margin: 4rem 6rem ;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2023-6-9 14:41:12
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation scale-up-center
  * ----------------------------------------
  */
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen  and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
      }
      .section__margin {
        margin: 4rem;
      }
  }
  
  @media screen  and (max-width: 550px) {
    .section__padding {
        padding: 2rem 1rem;
      }
    .section__margin {
        margin: 2rem 1rem;
      }
  }