@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #d3b003 1.84%, #FFF 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d3b003 -13.86%, #Fff 99.55%);
  
  
  --color-footer : linear-gradient(
    to top,#000, #383e3e ,#d3b003);
  --color-blog: #042c54;
  --color-text: #fff;
  --color-gray: #383e3e;
  --color-golden: #d3b003;
  --color-subtext: linear-gradient(
    to top,#Fff ,#d3b003);
  --color-btn:  linear-gradient(
    to top,#383e3e ,#d3b003);
    
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a { 
  
  text-decoration: none;
}

