/* ProjectCard.css */
.webapp__PC-Item {
    padding: 15px;
    border: 2px solid var(--color-gray);
    margin: 0 0.25rem;
    margin-bottom: 20px;
    
  }

  .webapp__PC-Item:hover {
    background: var(--color-footer);
    border: 1px solid var(--color-golden)
  }
  
  .webapp__PC-Item a {
    text-decoration: none;
    color: var(--color-text);
  }
  
  .webapp__PC-Item h3 {
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-golden);
    text-shadow: 10px 2px 10px #000;
  }
  
  .webapp__PC-Item p {
    font-family: var(--font-family);
    font-weight: 400;
    margin-left: 1rem;
    line-height: 30px;
  }
  