@media screen and (max-width: 450px) {
    .page__hiw {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0.8rem;
        }
}